<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ylc.frame.springboot.biz.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ylc.frame.springboot.biz.entity.Menu">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="permission" property="permission"/>
        <result column="type" property="type"/>
        <result column="url" property="url"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="btn_key" property="btnKey"/>
        <result column="icon" property="icon"/>
        <result column="seq" property="seq"/>
        <result column="visit_type" property="visitType"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getMenuList" resultType="org.ylc.frame.springboot.common.tree.MenuTree">
        SELECT
            m.id,
            m.name,
            m.pid,
            m.type,
            m.url,
            m.path,
            m.component,
            m.btn_key AS btnKey,
            m.icon
        FROM
            sys_menu m
        ORDER BY m.id
    </select>

    <select id="getUserMenuList" resultMap="BaseResultMap">
        SELECT
            m.id,
            m.name,
            m.pid,
            m.type,
            m.url,
            m.path,
            m.component,
            m.btn_key,
            m.icon,
            m.permission
        FROM
            sys_menu m
        WHERE
            m.id IN (
            SELECT
                menu_id
            FROM
                sys_role_menu rm
            WHERE
            rm.role_id IN ( SELECT role_id FROM sys_user_role ur WHERE ur.user_id = #{userId} ))
            AND m.login_from = #{loginFrom}
    </select>

    <select id="getUserPermissions" resultType="java.lang.String">
        SELECT
            m.permission
        FROM
            sys_menu m
        WHERE
            m.id IN (
            SELECT
                menu_id
            FROM
                sys_role_menu rm
            WHERE
            rm.role_id IN ( SELECT role_id FROM sys_user_role ur WHERE ur.user_id = #{userId} ))
            AND m.login_from = #{loginFrom}
    </select>

</mapper>
